{%extends "base.html"%}
{%load static%}
{%block contant%}


    <body>
        <div class="container text-center my-19" >
            <div class="row align-items-start" style="background-image: url(://png.pngtree.com/png-vector/20190303/ourlarge/pngtree-achievement-word-business-in-light-bulb-png-image_720683.jpg);">
              <div class="col mx-19">
                <div class="achivement_certificate">
                    <DIv class="achivement">
                        
                       
    
                <h1>ACHIVEMENT</h1>
                <h2>MY SCHOOL ACHIVEMENTS</h2>
                <h3>ACADEMIC ACHIVEMENTS </h3>
                <P>Througout my school days i have been good scorer.i have had achieved 64% in all my ralated
                    subjects.this is the moment of pride for me.</P>
                <h3>SPORTS ACHIVEMENTS </h3>
                <P>I have ramained the captain of my school's cricket team.i organized many matches.in my lead my
                    team has been successful</P>
                <h3>OTHER PERSONA ACHIVEMENTS </h3>
                <p> Not,only in school,i have achived much in my personal life like self
                    help,dedication,sencerity,love and respect for others.</p>
                <h2>MY COLLEGE ACHIVEMENT</h2>
                <p> My student life has given me many academic achievements that I must be proud of. Some of my
                    academic achievements I have listet</p>
                <p>My first academic achievement is that I have successfully completed my Ethical Hacking Essetials
                    with A+ throughout. It is my greatest achievement </p>
                <p> My third biggest academic achievement is that on the basis of good scores and my professional
                    degree. I really loved my studying experience</p>
                <p>My last academic accomplishment is that I am currently serving successfully as the head of city’s
                    biggest Engineering institute.</p>
            </div>
        </DIv>
              </div>
            
              <div class="col" style="padding-bottom: 25px;">
                <img src="https://pngimg.com/uploads/gold_medal/gold_medal_PNG39.png">
                <h1>CERTIFICATE</h1>
                <h3>Ethical Hacking Essetials<a class="sub" href="{%static 'Ethical Hacking Codered.jpeg'%}">CLICK
                        HERE</a>for download</h3>
                <h3>Web development<a class="sub" href=img\microsoft.jpg>CLICK HERE</a>for download</h3>
                <h3> Cisco<a class="sub" href="img\Cicso Lab Codered.jpeg">CLICK HERE</a>for download</h3>
              </div>
             
            </div>
          </div>




        <div >
          
        </div>
        </div>



        {%endblock%}