{%extends "base.html"%}
{%load static%}
{%block contant%}

<body>

   


      <div style="padding-top: 30px;"  class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="{%static 'Ethical Hacking Codered.jpeg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ethical Hacking Essetials CERTIFICATE</h5>
              <p class="card-text">EHE certificate provided by Codered</p>
              <b class="card-text"><p>Duration: 1 Month</p></b>
                  
            <a href="{%static 'Ethical Hacking Codered.jpeg'%}" class="btn btn-primary">Clicke here for CERTIFICATE</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="{%static 'microsoft.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Backend Web Development</h5>
                <p class="card-text">Backend Web Development Bootcamp CERTIFICATE</p>
                <b class="card-text"><p>Duration: 1 Month</p></b>
                    
              <a href="{%static 'microsoft.jpg'%}" class="btn btn-primary">Clicke here for CERTIFICATE</a>
              </div>
            </div>
          </div>
       
</body>

</html>
{%endblock%}